* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

body{
    width: 100%;
    min-width: 1400px;
    font-size: 24px;

    background-position: center;
    background-image: url(img/u9SsekRX.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #465656 ;
    
}

/*intro screen start */

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}
/*intro screen end*/

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
   
}

.scorebox {
display: flex;
width: 100%;
justify-content: space-between;

}

.score-board {
display: flex;
flex-direction: column;
gap: 20px;
border-style: groove;
padding-right: 20px;
height: 150px;
}

.computer-human-choice {
display: flex;
flex-direction: column;
gap: 20px;
border-style: groove;
padding-right: 100px;
height: 150px;
}





.button{
display: flex;  
width: 100%;
justify-content: space-around;
margin-left: 0;
margin-right: 0;
}

.buttonbelow{
    margin-top: 40px;
}


#PAPER{
height: 200px;
width: 200px;
cursor: pointer;
background-color: black;
border: none
}
#ROCK{
height: 200px;
 width: 200px;
 cursor: pointer;
 background-color: black;
 border: none
}
#SCISSORS{
height: 200px;
width: 200px;
cursor: pointer;
background-color: black;
border: none
}

img{
    height: 200px;
    width: 200px;
}


