* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

body{
    width: 100%;
    min-width: 1400px;
    font-size: 24px;
}


.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

.scorebox {
align-self: flex-start;

}
.score-board {
display: flex;
flex-direction: column;
gap: 20px;
border-style: groove;
padding-right: 20px;

}

.button{
   justify-self: space-around;
}
